.notes-editor {
  background-color: $editor-background;
  border: none;
  color: $editor-foreground;

  font: {
    family: $editor-font-family;
    size: $editor-font-size;
  }

  height: 100%;
  flex-grow: 1;
  line-height: 1.5;
  outline: none;
  resize: none;
  width: 100%;
}
