.notes-sidebar {
  height: 100%;
}

.notes-sidebar-item {
  background-color: $interface-background;
  color: $interface-foreground;
  padding: $interface-padding;
  transition: 0.5s;

  &:hover {
    background-color: $interface-accent-background;
    color: $interface-accent-foreground;
  }
}

.notes-sidebar-item-current {
  background-color: $interface-accent-background;
  color: $interface-accent-foreground;
}

.notes-sidebar-item-name {
  font: {
    family: $interface-font-family;
    size: $interface-font-size;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
